.tag-buttons {
  padding-top: 50px;
}

.tag-buttons__big {
  padding-bottom: 15px;
}

.tag-buttons__size-big {
  width: 68px;
  height: 28px;
  border-radius: 5px;
}

.tag-buttons__size-small {
  width: 51px;
  height: 28px;
  border-radius: 5px;
}
